*{
    margin: 0;
    padding: 0;
    background-color: blue;

    -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header{
    height: 5rem;
    background-color: black;
    color: white;
    align-items: center;
}

li{
    display: inline;
    padding: 10px;
    background-color: yellow;
    margin-right: 5px;
 
    
}
li a{
    color: black;
    background-color: yellow;
    margin: 5px;
}
a{
    text-decoration: none;
}
section{
    background-color: black;
    height: 2rem;
    display: flex;
    padding-bottom: 10px;
    
}
header img{
    width: 10rem;
    height: 100%;
    margin: 0 10px 0 0;
    border-radius: 10px;
}
body{
    color: white;
}